.btn-change {
    position: absolute;
    left: 1025px;
    bottom: 390px;
}

.btn-optim {
    position: absolute;
    left: 760px;
    bottom: -30px;
}

.btn-to-optim {
    margin-left: 97px;
}

.btn-history {
    width: 30%;
    margin-left: 350px;
}

.table-block {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: -10px;
}

.input-blocks {
    margin-bottom: 20px; 
}