.table-block {
    margin-bottom: 80px;
    margin-left: 150px;
    margin-right: 150px;
}

.min {
    margin-top: 20px;
}

.loading {
    text-align: center;
}

.tabs {
    text-align: center !important;
}

.block-optim-func {
    width: 60%;
    margin-left: 270px;
}

.main-text {
    font-size: medium;
    text-align: left;
}